* {
  margin: 0 0;
  font-family: "Roboto", sans-serif;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-div .fa-heart::before {
  font-size: 22px;
  cursor: pointer;
}
.main-div .fa-heart:hover::before {
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
  background: -o-linear-gradient(60deg, #ff79da, #9356dc);
  background: linear-gradient(30deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}

.loading-bg {
  opacity: 0.5;
  animation: fadeIn 1s 3s forwards;
  z-index: 1000;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  transition: all 300ms linear;
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 0.75;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 9999;
  position: fixed;
  top: calc(50% - 40px); /* where 40px is half the spinner's height */
  right: calc(50% - 40px); /* where 40px is half the spinner's width */
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #9356DC transparent #ff79d9 transparent;
  animation: lds-dual-ring 1.2s linear infinite, fadeOut 1s 3s forwards;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 13px;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  gap: 1rem;
  background-color: #EAEAEA;
}
header p {
  margin: 15px 0;
}

.reservation {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.reservation article {
  text-align: center;
  margin-bottom: 1.7rem;
}
.reservation h2 {
  margin: 0 50px;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1100px) {
  .reservation h2 {
    font-size: 40px;
  }
}
.reservation p {
  margin: 0 20px;
}
.reservation a {
  padding: 13px 19px;
  width: fit-content;
  display: block;
  text-align: center;
  margin-bottom: 3.6rem;
  color: white;
}

.fonctionnement {
  margin: 0 20px;
  margin-top: 3rem;
  margin-bottom: 4.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 481px) {
  .fonctionnement article {
    width: fit-content;
  }
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  margin-top: 1.6rem;
  position: relative;
}
@media only screen and (min-width: 1100px) {
  .fonctionnement ol {
    flex-direction: row;
  }
}
.fonctionnement i {
  padding-left: 2.2rem;
  padding-right: 1.2rem;
  color: #7E7E7E;
}
.fonctionnement .market {
  color: #9356DC;
}
.fonctionnement li {
  display: block;
  position: relative;
  width: 20rem;
  padding: 1.8rem 0;
}
.fonctionnement li:before {
  display: flex;
  content: counter(item) "  ";
  counter-increment: item;
  position: absolute;
  font-size: 14px;
  left: -10px;
  top: 1.8rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: purple;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
}
.fonctionnement .cards {
  background-color: #F6F6F6;
}
.fonctionnement .cards-border {
  border-radius: 20px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 4rem 1rem;
}
@media only screen and (min-width: 481px) {
  .restaurants {
    display: flex;
    justify-content: center;
  }
  .restaurants > div {
    max-width: 490px;
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (min-width: 1100px) {
  .restaurants > div {
    max-width: 1080px;
  }
}
.restaurants h2 {
  margin-bottom: 2rem;
}
.restaurants .menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: auto;
}
@media only screen and (min-width: 1100px) {
  .restaurants .menus {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 0;
    justify-content: space-between;
  }
}
.restaurants .img-container {
  position: relative;
}
.restaurants .img-container .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .cards {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  height: 250px;
  max-width: 490px;
}
.restaurants .cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .cards .card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}
.restaurants .cards .card-text i {
  font-size: 22px;
}

footer {
  padding: 22px 25px;
  color: white;
  background-color: #353535;
}
@media only screen and (min-width: 1100px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 90px;
    padding: 30px 25px;
  }
}
footer a {
  color: white;
}
footer h1 {
  padding-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
}
footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media only screen and (min-width: 1100px) {
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
footer li {
  list-style: none;
}
footer i {
  width: 15px;
}

.menus {
  width: 100%;
}
.menus h1 {
  font-weight: 400;
}
.menus main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menus header {
  margin: 14px 0;
}
.menus header h1 {
  display: flex;
  justify-content: center;
}
.menus header i {
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 25px;
}
.menus img {
  width: 100%;
  object-fit: cover;
}
.menus .menus__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 40px 0;
  margin-top: -40px;
  max-width: 1055px;
  width: 100%;
  gap: 40px;
  border-radius: 40px;
}
.menus .menus__menu .menus__menu--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.menus .menus__menu .menus__menu--titre h1 {
  font-size: 27px;
}
.menus .menus__menu .menus__menu--plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 634px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 13px;
}
.menus .menus__menu .menus__menu--plat h2 {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.menus .menus__menu .menus__menu--plat h2::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  padding-top: 0.4rem;
}
.menus .menus__menu .menus__menu--plat section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.menus .menus__menu .menus__menu--plat article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.menus .menus__menu .menus__menu--plat article .container-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px;
}
.menus .menus__menu .menus__menu--plat article .container-card h4 {
  align-self: flex-end;
  font-size: 15px;
  opacity: 0.8;
}
.menus .menus__menu .menus__menu--plat article .check-mark {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  background-color: #99E2D0;
  height: 72px;
  padding: 0 20px;
  transform-origin: top right;
  border-radius: 0 15px 15px 0;
  margin-right: -64px;
}
.menus .menus__menu .menus__menu--plat article:hover .check-mark {
  margin-right: 0;
}
.menus .menus__menu .menus__menu--plat .cards {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menus .menus__menu .menus__menu--plat .cards div, .menus .menus__menu .menus__menu--plat .cards p, .menus .menus__menu .menus__menu--plat .cards h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .menus__menu .slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menus .btn {
  width: fit-content;
  padding: 1rem 3rem;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
