@use "_base" as *;

@mixin img-container {
  position: relative;

  .nouveau {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 7px 10px;
    background-color: $green;
    color: $green-font;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 
  }
}

@mixin spinner-center {
  position: fixed;
  top: calc(50% - 40px); /* where 40px is half the spinner's height */
  right: calc(50% - 40px); /* where 40px is half the spinner's width */
}

@mixin loading-bg {
  opacity: 0.5;
  animation: fadeIn 1s 3s forwards;
  z-index: 1000;

  @keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
}

// ********** Media Query ********** //
@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin Desktop {
  @media only screen and (min-width: $small-screens) {
    @content;
  }
}