@use "_base" as b;
@use "_components" as c;
@use "_layout" as l;

* {
  margin: 0 0;
  @include b.font-text;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  @include b.font-title;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.btn {
  @include c.button;

  &:hover {
    @include c.button-hover;
  }
}

.loader {
  @include c.spinner;

  @include l.Desktop {
    @include c.loader-position;
  }
}

@keyframes load {to{transform: rotate(1turn)}}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none;}
}

// ************* Header ************* //
header {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 13px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: b.$footer-color;
    gap: 1rem;
    background-color: b.$head-bg-color;
  }

  p {
    margin: 15px 0;
  }
}

// ************* Reservation ************* //
.reservation {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: b.$main-bg-color;

  article {
    text-align: center;
    margin-bottom: 1.7rem;
  }

  h2 {
    margin: 0 50px;
    margin-bottom: 1rem;

    @include l.Desktop {
      font-size: 40px;
    }
  }

  p {
    margin: 0 20px;
  }

  a {
    padding: 13px 19px;
    width: fit-content;
    display: block;
    text-align: center;
    margin-bottom: 3.6rem;
    color: white;
  }
}

// ************* Fonctionnement ************* //
.fonctionnement {
  margin: 0 20px;
  margin-top: 3rem;
  margin-bottom: 4.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include l.tablet {
    
    article {
      width: fit-content;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    counter-reset: item;
    list-style-type: none;
    padding: 0;
    margin-top: 1.6rem; 
    position: relative;

    @include l.Desktop {
      flex-direction: row;
    }
  }

  i {
    padding-left: 2.2rem;
    padding-right: 1.2rem;
    color: b.$grey-tint;
  }

  .market {
    color: b.$primary_color;
  }

  li {
    display: block;
    position: relative;
    width: 20rem;
    padding: 1.8rem 0;
  }

  li:before {
    display: flex;
    content: counter(item) "  ";
    counter-increment: item;
    position: absolute;
    font-size: 14px;;
    left: -10px;
    top: 1.8rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: purple;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: b.$primary_color;
  }

  .cards {
    @include c.card-bg-fonctionnement;

    &-border {
      @include c.card-border-fonctionnement;
    }
  }

}

// ************* Restaurants ************* //
.restaurants {
  background-color: b.$main-bg-color;
  padding: 4rem 1rem;

    @include l.tablet {
      display: flex;
      justify-content: center;

      > div {
        max-width: 490px;
        width: 100%;

        @include l.Desktop {
          max-width: 1080px;
        }
      }
  }

  h2 {
    margin-bottom: 2rem;
      @include l.tablet;
  }

  .menus {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: auto;

    @include l.Desktop {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px 0;
      justify-content: space-between;
    }
  }

  .img-container {
    @include l.img-container;
  }

  .cards {
    @include c.card-restaurants;

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: b.$border-card-restaurants b.$border-card-restaurants 0 0;
    }

    .card-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin-left: 1rem;
      margin-right: 1.5rem;
      margin-top: 0.5rem;

      i {
        font-size: 22px;
        transition: clip-path 0.3s ease-in-out;

        &:active {
          clip-path: polygon(225.800 468.200, 223.300 465.900, 48.100 303.200, 0.000 192.800, 0.000 189.500, 119.200 45.500, 231.000 69.600, 256.000 91.900, 269.500 78.600, 281.000 69.600, 281.000 69.600, 392.800 45.400, 512.000 189.500, 512.000 192.800, 463.900 303.200, 288.700 465.900, 286.200 468.200, 256.000 480.100, 225.800 468.200);
        }
      }
    }
  }
}

// ************* Footer ************* //
footer {
  padding: 22px 25px;
  color:white;
  background-color: b.$footer-color;

  @include l.Desktop {
    display: flex;
    flex-direction: row-reverse;
    gap: 90px;
    padding: 30px 25px;
  }

  a {
    color: white;
  }

  h1 {
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 400;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;

    @include l.Desktop {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  li {
    list-style: none;
  }

  i {
    width: 15px;
  }
}


// ********************************* Menu Restaurants ********************************* //
.menus {
  width: 100%;

  h1 {
    font-weight: 400;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header { // ************* Header ************* //
    margin: 14px 0;

    h1 {
    display: flex;
    justify-content: center;
    }

    i {
      position: absolute;
      font-size: 20px;
      left: 25px;
      top: 25px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .menus__menu { // ************* Menu ************* //
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: b.$main-bg-color;
    padding: 40px 0;
    margin-top: -40px;
    max-width: 1055px;
    width: 100%;
    gap: 40px;
    border-radius: b.$border-menu;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;

      h1 {
        font-size: 27px;
      }

      i {
        font-size: 22px;
      }
    }
  }

  .btn {
    width: fit-content;
  }
}